.boards__input{
  display: flex;
  width: 70%;
  margin-top:5%;
  align-items: center;
  justify-content: center;
  & input{
    border-radius: 10px;
    border: 4px solid blue;
    line-height: 2;
    font-size: 25px;
    padding: 0 2.5%;
    letter-spacing: 1px;
    width: 80%;
    margin-right: 10px;
  }
  &>button{
    display: flex;
    max-width: 50%;
    font-size: 20px;
    background: white;
    padding: 1.25% 2.5%;
    border-radius: 10px;
    &:hover{
      cursor: pointer;
      background: lightgrey;
    }
  }
}
.boards{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 5%
}
.boards__elem{
  display: flex;
  flex-direction: column;
  background: white;
  min-height: 30vh;
  min-width: 25%;
  border-radius: 25px;
  align-items: center;
  margin:0 2.5%;
  padding: 1.5% 2%;
  border: 2px solid blue;
}
.boards__task{
  align-items: center;
  display: flex;
  width: 100%;
  position: relative;
  font-size: 30px;
  border-radius: 10px;
  padding: 1%;
  justify-content: space-between;
  &:hover{
    cursor: pointer;
    background: lavender;
  }
}
.boards__arow{
  &:hover{
    width: 30px;
    height: 30px;
    color: blue;
  }
}
.main__unlog{
  position: absolute;
  right: 0;
  margin-right: 50px;
  margin-top: 20px;
  padding: 0.25%;
  &:hover{
    color: blue;
    background: white;
    border: blue 1px solid;
    cursor: pointer;
    border-radius: 25px;
  }
}